.hidden{
    display:none;
}
.container {
    text-align:center;
    z-index: 1;
}
.container::after{
    /* background:url("./img/img1.jpeg"); */
    content:"";
    opacity:0.5;
    z-index: -1;
    background-size :cover;
    
}